4 lines (3 sloc)  29 Bytes
.hidden {
display: none;
}

body{
  background-color: red;
  text-align: center;
  font-style: normal;
  font-size: 50px;
  font-color: white;
 font-family: 'futura', sans-serif;

}

.if{
font-size: 40px;
font-color: white;
color: red;
font-family: 'futura', sans-serif;
}
