4 lines (3 sloc)  29 Bytes
.hidden {
display: none;
}

h1 {
    text-decoration: underline;
   background-color: 	#1E90FF;
  text-align: center;
  font-style: normal;
  font-size: 110;

 font-family: 'futura', sans-serif;
  
}

body{
	background-color: #1E90FF;
  text-align: center;
  font-style: normal;
  font-size: 40;
  
 font-family: 'futura', sans-serif;

}

.if{
font-size: 30px;
font-family: 'futura', sans-serif;
}
